In [26]:
import pandas as pd
import json
import os
RESULTS_DIR = '../results'

In [41]:
with open('/Users/ilan_gold/Downloads/results_har/results10/har_file_spraggins_512_zlib.ome.tif_http2.json', 'r') as f:
    har_log = json.loads(f.read())['log']
    
image_entry_timings = [
        entry["timings"] for entry in har_log["entries"] if 'spraggins_512_zlib.ome.tif' in entry["request"]["url"]
    ]
df = pd.json_normalize(image_entry_timings)

In [42]:
df

,blocked,dns,ssl,connect,send,wait,receive,_blocked_queueing
0,-0.907,9.241,144.372,176.654,0.312,23.054,0.281,-1.000
1,201.125,-1.000,-1.000,-1.000,0.149,47.902,33.645,200.944
2,0.509,-1.000,-1.000,-1.000,0.204,43.315,52.868,0.339
3,0.570,-1.000,-1.000,-1.000,0.105,32.947,27.266,0.387
4,0.500,-1.000,-1.000,-1.000,0.143,37.544,35.920,0.354
...,...,...,...,...,...,...,...,...
219,2594.343,-1.000,-1.000,-1.000,0.221,139.256,73.278,0.329
220,2327.911,-1.000,-1.000,-1.000,0.305,73.599,92.640,0.484
221,2401.740,-1.000,-1.000,-1.000,0.279,95.089,38.832,0.378
222,2497.112,-1.000,-1.000,-1.000,0.372,72.681,33.603,0.377
223,2570.344,-1.000,-1.000,-1.000,0.296,36.341,66.608,0.399